@import "../utils/_colors.scss";
@import "../utils/variables.scss";


.heading-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $collapsible-text-color;
    background: $kasa-red;
    padding: 5px;
    border-radius: 5px;
    height: 30px;
    padding: 10px;
    @media screen and (min-width: $sm) {
        padding: 10px;
    }
}

// p {
//     height: 0;
//     opacity: 0;
// }

@keyframes counterClockWise180 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-180deg);
    }
}

@keyframes clockWise180 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(180deg);
    }
}


@keyframes expandBlock {
    from {
        height: 0;
        transform: scaleY(0);
        opacity: 0;
    }

    to {
        height: fit-content;  
        transform: scaleY(100%);
        opacity: 1;
    }
}

@keyframes collapseBlock {
    from {
        height: fit-content;
        transform: scaleY(100%);
        opacity: 1;
    }

    to {
        height: 0;
        transform: scaleY(0);
        opacity: 0;
    }
}

.expandAboutSection {
    animation: expandBlock 0.5s forwards ease-out;
}


.collapseAboutsection {
    animation: collapseBlock 0.5s forwards;
}

.rotateIconCCW {
    animation: counterClockWise180 0.5s forwards;
}

.rotateIconCW {
    animation: clockWise180 0.5s forwards;
}
