///// Colors : /////////////////////////////

$kasa-red: #ff6060;
$bg-color: #fff;
$gallery-bg-desktop: #f6f6f6;
$header-color: #fff;
$footer-color: #000;
$home-banner-opacity: 0.6;
$about-banner-opacity: 0.3;
$thumbnail-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);

///// Breakpoints : ///////////////////////


// $sm: 576px;
$md: 768px;
// $lg: 992px;
// $xl: 1200px;
// $xxl: 1400px;


