$kasa-red: #ff6060;
$main-bg-color: #fff;
$gallery-bg-desktop: #f6f6f6;
$header-bg-color: #fff;
$header-text-color: #000;
$footer-bg-color: #000;
$footer-text-color:#fff;
$home-banner-opacity: 0.6;
$about-banner-opacity: 0.3;
$thumbnail-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);