.rental__info-section {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  flex-grow: 1;
  gap: 15px;

  .rental__title-tags-container {
    display: flex;
    flex-flow: column;
    gap: 15px;

    .rental__title {
      font-family: Montserrat;
      font-size: 1.8rem;
      font-weight: 500;
      color: $kasa-red;
    }

    .rental__location {
      font-family: Montserrat;
      font-size: 1.4rem;
      font-weight: 500;
    }

    .rental__tags-container {
      display: flex;
      flex-flow: row wrap;
      gap: 10px;

      .rental__tag {
        background: $kasa-red;
        text-align: center;
        padding: 5px 10px;
        border-radius: 7px;
        color: #fff;
        font-size: 1rem;
        font-weight: 700;
        min-width: 84px;
      }
    }
  }

  .rental__host-rating-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: $sm) {
      flex-flow: column-reverse;
    }
  }

  .rental__collapse-container {
    display: flex;
    flex-flow: column;
    @media screen and (min-width: $sm) {
      display: flex;
      flex-flow: row;
      justify-content: center;
      gap: 100px;
    }
  }
}
