@import "../utils/variables.scss";
@import "../utils/colors";

html {
    box-sizing: border-box;
    width: 100%;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;

    .header,
    .main {
        max-width: $max-content-width;
        background: $main-bg-color;
        margin: 0 auto;
        padding: 20px;
    }

    .main {
        width: 100%;
        @include flex-center;
        flex-direction: column;
        justify-content: space-around;
    }

    .viewport-warning {
        width: 320px;
        padding: 15px 35px;
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 10px;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        background: salmon;

        .viewport-warning__icon {
            font-size: 30px;
        }

        @media screen and (min-width: 320px) {
            display: none;
        }
    }
}